<div id="pnf_container" class="gooboi">
  <%= image_tag "dead_doge_404.png", id: "pnf_img" %>
  <div id="pnf_txt1">
    <p class="pnf_txt">Such Link</p>
  </div>
  <div id="pnf_txt2">
    <p class="pnf_txt">Much Bad</p>
  </div>
</div>
