/* line 4, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_title {
  font: bold 2.2vh Tahoma, Geneva, sans-serif;
  color: #E89923;
  position: relative;
  top: 4vh;
  padding-left: 1.7vw;
  margin: 0px;
}

/* line 13, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_label {
  font: normal 1.6vh Tahoma, Geneva, sans-serif;
  color: #E09D3A;
}

/* line 18, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_input {
  border: 1px solid rgba(114, 114, 114, 0.67);
  height: 2.4vh;
  width: 15vw;
}

/* line 24, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_submit {
  position: relative;
  height: 4vh;
  width: 100px;
  font-size: 2vh;
}

/* line 31, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_container {
  z-index: 2;
  position: relative;
}

/* line 36, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_box {
  display: inline-block;
  border: 1px solid #333333;
  background-color: #FFFFFF;
  color: black;
  width: 20vw;
  position: absolute;
  line-height: 2px;
}

/* line 46, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_info {
  padding: 2vh;
  padding-left: 1.7vw;
  padding-bottom: 0px;
  position: relative;
  margin-top: 1.5vh;
}

/* line 54, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_img {
  width: 15vh;
  height: 15vh;
  margin-top: 2vh;
  position: relative;
}

/* line 61, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_input_container {
  position: relative;
  margin-top: 2vh;
}

/* line 66, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_error {
  position: relative;
  word-wrap: break-word;
  margin-top: 2vh;
  line-height: 2vh;
  text-align: center;
}

/* line 74, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.underline {
  position: relative;
  margin-top: 2vh;
  height: 1px;
  width: 100%;
  border-bottom: thin solid #000000;
}

/* line 82, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.form_preload {
  display: none;
}

/* line 86, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.color_picker_img {
  height: 250px;
}

/* line 90, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.color-picker {
  border: 1px solid grey;
  border-spacing: 5px;
  border-bottom: none;
  border-right: none;
  padding-left: 1px;
  padding-top: 1px;
}

/* line 99, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.color_container {
  top: 9.4vh;
  left: 9vw;
}

/* line 104, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
.color_picker_div {
  left: 135px;
}

/* line 108, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#exit_button {
  position: absolute;
  height: 1.3vw;
  top: 1.3vh;
  left: 18vw;
}

/* line 115, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#signup_submit_container, #login_submit_container {
  margin-bottom: 2vh;
}

/* line 119, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#color_picker_popup {
  position: relative;
  margin-top: 2vh;
}

/* line 124, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#open_color_picker_signup {
  position: relative;
  width: 7.5vh;
}

/* line 129, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#color_picker_location2 {
  position: absolute;
  right: 80px;
}

/* line 134, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#color_picker_location {
  position: absolute;
  top: -120px;
  left: 9vw;
  z-index: 1;
}

/* line 141, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#color-picker-canvas {
  position: absolute;
  display: table;
}

/* line 146, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#sv-canvas {
  position: relative;
}

/* line 150, C:/Sites/Doge/app/assets/stylesheets/account.css.scss */
#h-canvas {
  position: relative;
}
/* line 4, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 10, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
li {
  white-space: pre;
}

/* line 14, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
span {
  font-family: Verdana, Geneva, sans-serif;
  word-wrap: break-word;
}

/* line 19, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.space-cell {
  opacity: 0;
}

/* line 23, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.scrolly {
  overflow-y: scroll;
}

/* line 27, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.border {
  border-radius: 74px 4px 4px 4px;
  -moz-border-radius: 74px 4px 4px 4px;
  -webkit-border-radius: 74px 4px 4px 4px;
  border: 1px solid #9097E2;
}

/* line 34, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.chat-message-container {
  display: flex;
}

/* line 38, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.chat-message-payload {
  position: relative;
  top: 1.5px;
  width: 100%;
  word-break: break-word;
  white-space: normal;
}

/* line 46, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.timerDivContainer {
  position: absolute;
  margin-top: 4vh;
  margin-left: 1.5vw;
  display: inline-flex;
  background-color: #000000;
  border: 1px solid #bbbdd6;
}

/* line 55, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.timerDiv {
  height: 10vh;
}

/* line 59, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.timerNumberDiv {
  display: inline-flex;
}

/* line 63, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.timerNumber {
  height: 10vh;
  width: 4vw;
}

/* line 68, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.timerColon {
  height: 10vh;
}

/* line 72, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_content_container {
  position: relative;
  top: 71px;
  padding-top: 11vh;
  padding-left: 3vw;
  padding-bottom: 6vh;
  z-index: 0;
}

/* line 81, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#stream_video {
  position: relative;
  height: 51.5vh;
  width: 47vw;
}

/* line 87, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#chat {
  position: absolute;
  white-space: nowrap;
  top: 11vh;
  left: 53%;
  width: 45vw;
}

/* line 95, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#chat-border {
  background-color: white;
  width: 100%;
}

/* line 100, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#chat-lines {
  position: relative;
  height: 38vh;
  width: 95%;
  margin-top: 9vh;
  left: 5%;
}

/* line 108, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#msg {
  position: relative;
  font-size: medium;
  height: 3.5vh;
  line-height: 2.5vh;
  width: 92%;
  resize: none;
}

/* line 117, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#send {
  position: relative;
  width: 3.4vw;
  font-size: .8vw;
}

/* line 123, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#type-msg {
  position: relative;
  display: flex;
}

/* line 128, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#remaining {
  position: relative;
  color: #f1e4f7;
  margin: 0px;
  width: 100%;
  text-align: right;
  right: 2vw;
}

/*
 * Doge coin amount display under chat
 */
/* line 140, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#tokenContainer1 {
  position: absolute;
  display: flex;
  right: 2vw;
}

/* line 146, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_coin_img {
  height: 40px;
  width: 40px;
}

/* line 151, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_coin_x {
  margin: auto;
  margin-right: 4px;
  margin-left: 2px;
  font-size: 20px;
  color: #ffffff;
}

/* line 159, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_number_balls {
  margin: auto;
  font-size: 26px;
  padding-top: 4px;
  color: #ffec0d;
}

/* line 166, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#queue_container {
  position: relative;
}

/* line 171, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_queue {
  position: relative;
  width: 100%;
}

/* line 176, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#button_container {
  position: absolute;
  display: inline-block;
  top: -5.4vh;
}

/* line 182, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_bootun {
  height: 18vh;
  z-index: 1;
}

/* line 187, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_control_container {
  position: absolute;
  top: -2.4vh;
}

/* line 192, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#doge_control_timer_par {
  margin: 0px;
  margin-top: -15px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
/*
 * All CSS related to custom error pages will be placed here.
 */
/* line 4, C:/Sites/Doge/app/assets/stylesheets/error.css.scss */
#404_container {
  position: relative;
}

/* line 8, C:/Sites/Doge/app/assets/stylesheets/error.css.scss */
#404_img {
  height: calc(100vh - 71px );
  width: 100vw;
}
/* line 1, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
body {
  overflow-y: auto;
  background-color: #fff;
  color: #333;
  font-family: "Roboto", verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: "Roboto", verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 24, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 27, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 34, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 39, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 43, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  margin-top: 1vh;
  background-color: red;
  display: table;
}

/* line 50, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 57, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 67, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 23, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
td {
  font-size: 20px;
  font-weight: bold;
  color: #4D2EA5;
}

/* line 29, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.vert-center {
  top: 50%;
  transform: translateY(-50%);
}

/* line 34, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.hori-center {
  left: 50%;
  transform: translateX(-50%);
}

/* line 39, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.hori-vert-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 45, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.welcome {
  font-size: 1.3vw;
  color: #4D1FCE;
  font-weight: normal;
}

/*
 * CSS for the login/signup form and header bar
 */
/* line 54, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.login_link {
  position: relative;
  font-size: 1.3vw;
  text-align: center;
}

/* line 60, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.error {
  color: #F90C0C;
  font-family: Georgia, serif;
  font-size: 2vh;
}

/* line 66, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.cover {
  position: relative;
  width: 104%;
  background-color: #FFFFFF;
  top: 2px;
  right: 1px;
  height: 2px;
}

/* line 75, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.pointer {
  cursor: pointer;
}

/* line 79, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.ctx {
  cursor: context-menu;
}

/* line 83, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.color_container_top {
  right: 7vw;
}

/* line 87, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.color_picker_img_top {
  height: 320px;
  width: 400px;
}

/* line 92, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.color_picker_div_top {
  top: 50%;
  transform: translateY(-43%);
  left: 110px;
}

/* line 98, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#title_table {
  margin-right: 10px;
  margin-left: auto;
  position: relative;
}

/* line 104, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#login_bar {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #bbbdd6;
}

/* line 113, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#logo_container {
  position: absolute;
  height: inherit;
}

/* line 118, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#logo-link {
  position: relative;
  display: block;
  z-index: 1;
  left: 15px;
}

/* line 125, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#logo-link:hover {
  background-color: #FFFFFF;
}

/* line 129, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#logo {
  z-index: -1;
  height: 50px;
}

/* line 134, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#title_container {
  position: absolute;
  width: 100%;
  height: inherit;
}

/* line 140, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#doge_title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

/* line 151, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#open_color_picker {
  padding-top: 4px;
  padding-right: 10px;
}

/* line 156, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#form_pop_up {
  position: relative;
  z-index: 4;
  top: 1px;
}

/* line 162, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#ls_form_container {
  display: none;
  position: fixed;
  top: 71px;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* line 171, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#backdrop {
  position: absolute;
  z-index: 1;
  background-color: #000000;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

/* line 180, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#center_form {
  position: absolute;
  z-index: 2;
  top: 10vh;
  left: 46%;
}

/* line 187, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#form_tabs_table {
  position: relative;
  border-spacing: 0px;
  z-index: 4;
}

/* line 194, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#form_tabs_row td {
  font-size: 11px;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  border: 1px solid #888888;
  border-bottom-color: #333333;
  background-color: #FFFFFF;
}

/* line 205, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#username_top {
  text-decoration: none;
  background-color: #FFFFFF;
}

/* line 210, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
#username_top:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  /* line 215, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
  .welcome {
    font-size: 15px;
  }

  /* line 219, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
  .login_link {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  /* line 225, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
  .welcome {
    font-size: 9px;
  }

  /* line 229, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
  .login_link {
    font-size: 9px;
  }
}
/*
 * CSS for the application background
 */
/* line 237, C:/Sites/Doge/app/assets/stylesheets/application.css.scss */
.app_background {
  position: fixed;
  top: 71px;
  height: calc(100vh - 71px );
  width: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, #91bbf9 0%, #04175d 100%);
}
