/* line 4, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 10, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
span {
  font-family: Verdana, Geneva, sans-serif;
}

/* line 14, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.scrolly {
  overflow-y: scroll;
}

/* line 18, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.chatbox {
  position: relative;
  height: 300px;
  width: 730px;
  top: 63px;
  left: 36px;
}

/* line 26, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
.border {
  border-radius: 74px 4px 4px 4px;
  -moz-border-radius: 74px 4px 4px 4px;
  -webkit-border-radius: 74px 4px 4px 4px;
  border: 1px solid #9097E2;
}

/* line 33, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#chat {
  position: relative;
}

/* line 37, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#chat-border {
  width: 768px;
  height: 400px;
}

/* line 42, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#msg {
  font-size: medium;
  height: 30px;
  line-height: 17px;
  resize: none;
}

/* line 49, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#send {
  position: relative;
  height: 35px;
  width: 52px;
  top: -14px;
}

/* line 56, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#type-msg {
  position: relative;
  top: -36px;
}

/* line 61, C:/Sites/Doge/app/assets/stylesheets/doge.css.scss */
#remaining {
  color: #A7A7A7;
  line-height: 0px;
  top: -12px;
  width: 770px;
  text-align: right;
  position: relative;
}
/* line 1, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, C:/Sites/Doge/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

