/*
 * Create an object that performs all of the functions necessary to purchase
 * Doge tokens.
 *
 * This functionality includes:
 *  - Increment/Decrement buttons to add tokens
 *  - Increment/Decrement object to track number of tokens for purchase
 *  - Purchase button that appears when increment is pushed, 
 *    disappears if no tokens left
 *  - Purchase button will load drop in when clicked
 */
function makeDogeTokenPurchaser (tokenPurchaserContainerID,
                                 tokenNumberDisplayID,
                                 currentNumTokens)
  {
    var obj = this;
    var buttonClass = "'tokenPurchaseButton noHighlight'";
    var changerClass = "'tokenNumberChanger pointer noHighlight'";

    obj.$container = $("#" + tokenPurchaserContainerID);
    obj.$tokenDisplay = $("#" + tokenNumberDisplayID);

    obj.numTokens = currentNumTokens;

    // Create Incrementer object to track number of tokens to buy
    obj.incrementer = new makeIncrementer (0, null);

    // Create the buttons that add or remove tokens to purchase
    obj.$purchasePar = $("<p id='tokenPurchasePar'></p>");
    obj.$purchase = $("<a id='tokenPurchaseButton' class=" + buttonClass + ">Purchase</a>").appendTo (obj.$container);
    obj.$plus = $("<span id='tokenPlus' class=" + changerClass + ">+</span>").appendTo (obj.$purchasePar);
    obj.$minus = $("<span id='tokenMinus' class=" + changerClass + ">-</span>").appendTo (obj.$purchasePar);
    obj.$container.append (obj.$purchasePar);

    // Create purchase button that appears when incrementer has more than 0
    obj.tokenIncrement = function () {
      if (obj.incrementer.increment ()) {
        obj.$tokenDisplay.text ("" + (obj.numTokens + obj.incrementer.getValue ()));
        console.log (obj.$tokenDisplay);
      }
      obj.$purchase.css ("display", "initial");
    };

    obj.tokenDecrement = function () {
      if (obj.incrementer.decrement ()) {
        obj.$tokenDisplay.text ("" + (obj.numTokens + obj.incrementer.getValue ()));
      }
      if (obj.incrementer.getValue () == 0) {
        obj.$purchase.css ("display", "none");
      }
    };

    obj.$plus.on ("click", obj.tokenIncrement);
    obj.$minus.on ("click", obj.tokenDecrement);

    // Bind purchase button to a function that creates a container to load
    // Braintree dropin into
    // TODO
  };
