/*
 * Create an object that performs all of the functions necessary to purchase
 * Doge tokens.
 *
 * This functionality includes:
 *  - Increment/Decrement buttons to add tokens
 *  - Increment/Decrement object to track number of tokens for purchase
 *  - Purchase button that appears when increment is pushed, 
 *    disappears if no tokens left
 *  - Purchase button will load drop in when clicked
 */
function makeDogeTokenPurchaser (toContainerID,
                                 fromContainerID,
                                 tokenNumberDisplayID,
                                 currentNumTokens)
  {
    var obj = this;
    var buttonClass = "'tokenPurchaseButton noHighlight'";
    var changerClass = "'tokenNumberChanger pointer noHighlight'";
    
    obj.toContainerID = toContainerID;
    obj.fromContainerID = fromContainerID;

    obj.$container = $("#" + toContainerID);
    obj.$tokenDisplay = $("#" + tokenNumberDisplayID);

    obj.numTokens = currentNumTokens;

    // Create Incrementer object to track number of tokens to buy
    obj.incrementer = new makeIncrementer (0, null);

    // Update the URL by adding number of tokens parameters
    obj.updateURL = function () {
      obj.$purchase.attr ("href", "/doge_token_dropin?num_tokens=" + obj.incrementer.getValue ());
    };

    // Create the buttons that add or remove tokens to purchase
    obj.$purchasePar = $("<p id='tokenPurchasePar'></p>");
    obj.$purchase = $("<a href='/doge_token_dropin' id='tokenPurchaseButton' class=" + buttonClass + " data-remote='true'>Purchase</a>").appendTo (obj.$container);
    obj.$plus = $("<span id='tokenPlus' class=" + changerClass + ">+</span>").appendTo (obj.$purchasePar);
    obj.$minus = $("<span id='tokenMinus' class=" + changerClass + ">-</span>").appendTo (obj.$purchasePar);
    obj.$container.append (obj.$purchasePar);

    // Create purchase button that appears when incrementer has more than 0
    obj.tokenIncrement = function () {
      if (obj.incrementer.increment ()) {
        obj.$tokenDisplay.text ("" + (obj.numTokens + obj.incrementer.getValue ()));
      }
      obj.updateURL ();
      obj.$purchase.css ("display", "initial");
    };

    obj.tokenDecrement = function () {
      if (obj.incrementer.decrement ()) {
        obj.$tokenDisplay.text ("" + (obj.numTokens + obj.incrementer.getValue ()));
      }
      obj.updateURL ();
      if (obj.incrementer.getValue () == 0) {
        obj.$purchase.css ("display", "none");
      }
    };

    obj.$plus.on ("click", obj.tokenIncrement);
    obj.$minus.on ("click", obj.tokenDecrement);

    // Object that loads the token purchaser into the page when the link is clicked
    obj.purchaserContainerLoader = new ContainerLoader ("tokenPurchaseButton",
                                                        null, null, null,
                                                        "dogeAppBody",
                                                        obj.fromContainerID,
                                                        null, obj.loadBraintreeDropin);
  };
