// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_title {
  font: bold 2.2vh Tahoma, Geneva, sans-serif;
  color: #E89923;
  position: relative;
  top: 4vh;
  padding-left: 1.7vw;
  margin: 0px;
}

.form_label {
  font: normal 1.6vh Tahoma, Geneva, sans-serif;
  color: #E09D3A;
}

.form_input {
  height: 2.4vh;
  width: 15vw;
}

.form_submit {
  position: relative;
  height: 4vh;
  width: 100px;
  font-size: 2vh;
}

.form_container {
  z-index: 2;
  position: relative;
}

.form_box {
  display: inline-block;
  border: 1px solid #333333;
  background-color: #FFFFFF;
  color: black;
  width: 20vw;
  position: absolute;
  line-height: 2px;
}

.form_info {
  padding: 2vh;
  padding-left: 1.7vw;
  padding-bottom: 0px;
  position: relative;
  margin-top: 1.5vh;
}

.form_img {
  width: 15vh;
  height: 15vh;
  margin-top: 2vh;
  position: relative;
}

.form_input_container {
  position: relative;
  margin-top: 2vh;
}

.form_error {
  position: relative;
  word-wrap: break-word;
  margin-top: 2vh;
  line-height: 2vh;
  text-align: center;
}

.underline {
  position: relative;
  margin-top: 2vh;
  height: 1px;
  width: 100%;
  border-bottom: thin solid #000000;
}

.form_preload {
  display: none;
}

.color_picker_img {
  height: 250px;
}

.color-picker {
  border: 1px solid grey;
  border-spacing: 5px;
  border-bottom: none;
  border-right: none;
  padding-left: 1px;
  padding-top: 1px;
}

.color_container {
  top: 9.4vh;
  left: 9vw;
}

.color_picker_div {
  left: 135px;
}

#exit_button {
  position: absolute;
  height: 1.3vw;
  top: 1.3vh;
  left: 18vw;
}

#signup_submit_container, #login_submit_container {
  margin-bottom: 2vh;
}

#color_picker_popup {
  position: relative;
  margin-top: 2vh;
}

#open_color_picker_signup {
  position: relative;
  width: 7.5vh;
}

#color_picker_location2 {
  position: absolute;
  right: 8vw;
}

#color_picker_location {
  position: absolute;
  top: -120px;
  left: 9vw;
  z-index: 1;
}

#color-picker-container {
  display:inline-block;
}

#color-picker-canvas {
  position: absolute;
  display: table;
}

#sv-canvas {
  position: relative;
}

#h-canvas {
  position: relative;
}
