// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_title {
  font: bold 22px Tahoma, Geneva, sans-serif;
  color: #E89923;
}

.form_label {
  font: normal 16px Tahoma, Geneva, sans-serif;
  color: #E09D3A;;
}

.form_input {
  height: 20px;
}

.form_submit {
  position: relative;
  height: 30px;
  width: 100px;
  font-size: 15px;
}

.form_container {
  z-index: 2;
  position: relative;
}

.form_box {
  display: inline-block;
  border: 1px solid #333333;
  background-color: #FFFFFF;
  color: black;
  width:280px;
  position: absolute;
}

#exit_button {
  position: absolute;
  height: 16px;
  top: 6px;
  left: 254px;
}

.form_title {
  position: relative;
  top: 22px;
  padding-left: 20px;
  margin: 0;
}

.form_info {
  padding: 20px;
  position: relative;
  top: 20px;
}

.form_img {
  width: 136px;
  height: 136px;
  margin-top: 15px;
  position: relative;
}

.form_error {
  position: relative;
  word-wrap: break-word;
  margin: 0px;
  margin-top: 15px;
}

.underline {
  position: relative;
  margin-top: 15px;
  height: 1px;
  width: 100%;
  border-bottom: thin solid #000000;
}

.form_preload {
  display: none;
}
