/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

td {
  font: bold 20px Arial, Helvetica, sans-serif;
  color: #4D2EA5;
}

.vert-center {
  top: 50%;
  transform: translateY(-50%);
}

.hori-center {
  left: 50%;
  transform: translateX(-50%);
}

.hori-vert-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.no_display {
  display: none;
  position: absolute;
}

.welcome {
  font-size: 15px;
  color: #4D1FCE;
  font-weight: normal;
}

.login_link {
  position: relative;
  font-size: 15px; 
  width: 60px;
  text-align: center;
}

.error {
  color: #F90C0C;
  font-family: Georgia, serif;
}

.cover {
  position: relative;
  width: 104%;
  background-color: #FFFFFF;
  top: 2px;
  right:1px;
  height: 2px;
}

.pointer {
  cursor: pointer;
}

.ctx {
  cursor: context-menu;
}

.color_container_top {
  right: 7vw;
}

.color_picker_img_top {
  height:320px;
  width:400px;
}

.color_picker_div_top {
  top: 50%;
  transform: translateY(-43%);
  left: 110px;
}

#title_table {
  margin-right: 10px;
  margin-left: auto;
  position: relative;
}

#login_bar {
  position: relative;
  z-index: 6;
  width: 100%;
  height: 70px;
  background-color: white;
}

#logo_container {
  position: absolute;
  height: inherit;
}

#logo-link {
  position: relative;
  display: block;
  z-index: 1;
  left: 15px;
}

#logo-link:hover {
  background-color: #FFFFFF;
}

#logo {
  z-index: -1;
  height: 50px;
}

#title_container {
  position: absolute;
  width: 100%;
  height: inherit;
}

#doge_title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}


#open_color_picker {
  padding-top: 4px;
  padding-right: 10px;
}

#form_pop_up {
  position: relative;
  z-index: 4;
  top: 1px;
}

#ls_form_container {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

#backdrop {
  position: absolute;
  z-index: 1;
  background-color: #000000;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

#center_form {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 46%;
}

#form_tabs_table {
  position: relative;
  border-spacing: 0px;
  z-index: 4;
}

#form_tabs_row {
  td {
    font-size: 11px;
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border: 1px solid #888888;
    border-bottom-color: #333333;
    background-color: #FFFFFF;
  }
}

#username_top {
  text-decoration: none;
  background-color: #FFFFFF;
}

#username_top:hover {
  text-decoration: underline;
}
