// Place all the styles related to the doge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

span {
  font-family: Verdana, Geneva, sans-serif;
}

.scrolly {
  overflow-y: scroll;
}

.chatbox {
  position: relative;
  height: 300px;
  width: 730px;
  top:73px;
  left:46px;
}

.border {
  border-radius: 74px 4px 4px 4px;
  -moz-border-radius: 74px 4px 4px 4px;
  -webkit-border-radius: 74px 4px 4px 4px;
  border: 1px solid #9097E2;
}

#chat {
  position: relative;
}

#chat-border {
  width: 768px;
  height: 400px;
}

#msg {
  font-size: medium;
  height: 30px;
  line-height:17px;
  resize: none;
}

#send {
  position: relative;
  height: 35px;
  width: 52px;
  top:-14px;
}

#type-msg {
  position: relative;
  top: -36px;
}

#remaining {
  color: #A7A7A7;
  line-height: 0px;
  top: -12px;
  width: 770px;
  text-align: right;
  position: relative;
}
