// Place all the styles related to the doge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  white-space: pre;
}

span {
  font-family: Verdana, Geneva, sans-serif;
  word-wrap: break-word;
}

.scrolly {
  overflow-y: scroll;
}

.border {
  border-radius: 74px 4px 4px 4px;
  -moz-border-radius: 74px 4px 4px 4px;
  -webkit-border-radius: 74px 4px 4px 4px;
  border: 1px solid #9097E2;
}

#background {
  height: 100%;
  width:100%;
  position: fixed;
  background: #a6ffbd; /* Old browsers */
  background: -moz-linear-gradient(top,  #a6ffbd 0%, #0fea00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6ffbd), color-stop(100%,#0fea00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a6ffbd 0%,#0fea00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a6ffbd 0%,#0fea00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a6ffbd 0%,#0fea00 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a6ffbd 0%,#0fea00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffbd', endColorstr='#0fea00',GradientType=0 ); /* IE6-9 */ 
}

#chat {
  position: relative;
  white-space: nowrap;
  top: 25%;
  left: 48%;
  width: 48%;
}

#chat-border { 
  background-color: white; 
  width: 100%;
  height: 400px;
}

#chat-lines {
  position: relative;
  height: 300px;
  width: 95%;
  top: 63px;
  left: 5%;
}

#msg {
  position: relative;
  font-size: medium;
  height: 30px;
  line-height:17px;
  width: 92%;
  resize: none;
}

#send {
  position: relative;
  height: 35px;
  width: 3vw;
  font-size: .8vw;
  top: -14px;
}

#type-msg {
  position: relative;
  top: -36px;
}

#remaining {
  color: #A7A7A7;
  line-height: 0px;
  top: -12px;
  width: 770px;
  text-align: right;
  position: relative;
}
