// Place all the styles related to the doge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  white-space: pre;
}

span {
  font-family: Verdana, Geneva, sans-serif;
  word-wrap: break-word;
}

.space-cell {
  opacity: 0;
}

.scrolly {
  overflow-y: scroll;
}

.border {
  border-radius: 74px 4px 4px 4px;
  -moz-border-radius: 74px 4px 4px 4px;
  -webkit-border-radius: 74px 4px 4px 4px;
  border: 1px solid #9097E2;
}

.chat-message-container {
  display: flex;
}

.chat-message-payload {
  position: relative;
  top: 1.5px;
  width: 100%;
  word-break: break-word;
  white-space: normal;
}

.timerDivContainer {
  position: absolute;
  display: inline-flex;
  background-color: #000000;
  border: 1px solid #bbbdd6;
}

.timerDiv {
  height: 10vh;
}

.timerNumberDiv {
  display: inline-flex;
}

.timerNumber {
  height: 10vh;
  width: 4vw;
}

.timerColon {
  height: 10vh;
}

#background {
  height: 100%;
  width:100%;
  position: fixed;
  z-index: 0;
  background: #a6ffbd; /* Old browsers */
  background: -moz-linear-gradient(top,  #a6ffbd 0%, #0fea00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6ffbd), color-stop(100%,#0fea00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a6ffbd 0%,#0fea00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a6ffbd 0%,#0fea00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a6ffbd 0%,#0fea00 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a6ffbd 0%,#0fea00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffbd', endColorstr='#0fea00',GradientType=0 ); /* IE6-9 */
}

#stream {
  position: relative;
  margin-top: 11vh;
  left: 3vw;
}

#stream_video {
  position: relative;
  height: 53vh;
  width: 47vw;
}

#chat {
  position: absolute;
  white-space: nowrap;
  top: 11vh;
  left: 53%;
  width: 45vw;
}

#chat-border { 
  background-color: white; 
  width: 100%;
}

#chat-lines {
  position: relative;
  height: 38vh;
  width: 95%;
  margin-top: 9vh;
  left: 5%;
}

#msg {
  position: relative;
  font-size: medium;
  height: 3.5vh;
  line-height:2.5vh;
  width: 92%;
  resize: none;
}

#send {
  position: relative;
  width: 3.4vw;
  font-size: .8vw;
}

#type-msg {
  position: relative;
  display: flex;
}

#remaining {
  position: relative;
  color: #4807B5;
  margin: 0px;
  width: 100%;
  text-align: right;
  right: 2vw;
}

#queue_container {
  position: relative;
}


#doge_queue {
  position: relative;
  width: 100%;
}

#button_container {
  position: absolute;
  display: inline-block;
  top: -5.4vh;
  margin-left: 1.3vw;
}

#doge_bootun {
  height: 18vh;
  z-index: 1;
}

#doge_control_container {
  position: absolute;
  top: -5.4vh;
  margin-left: 1.3vw;
}
