// Place all the styles related to the doge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  white-space: pre;
}

span {
  font-family: Verdana, Geneva, sans-serif;
  word-wrap: break-word;
}

.space-cell {
  opacity: 0;
}

.scrolly {
  overflow-y: scroll;
}

.border {
  border-radius: 74px 4px 4px 4px;
  -moz-border-radius: 74px 4px 4px 4px;
  -webkit-border-radius: 74px 4px 4px 4px;
  border: 1px solid #9097E2;
}

.chat-message-container {
  display: flex;
}

.chat-message-payload {
  position: relative;
  top: 1.5px;
  width: 100%;
  word-break: break-word;
  white-space: normal;
}

.timerDivContainer {
  position: absolute;
  margin-top: 4vh;
  margin-left: 1.5vw;
  display: inline-flex;
  background-color: #000000;
  border: 1px solid #bbbdd6;
}

.timerDiv {
  height: 10vh;
}

.timerNumberDiv {
  display: inline-flex;
}

.timerNumber {
  height: 10vh;
  width: 4vw;
}

.timerColon {
  height: 10vh;
}

#doge_content_container {
  position: relative;
  top: 71px;
  padding-top: 11vh;
  padding-left: 3vw;
  padding-bottom: 6vh;
  z-index: 0;
}

#stream_video {
  position: relative;
  height: 51.5vh;
  width: 47vw;
}

#chat {
  position: absolute;
  white-space: nowrap;
  top: 11vh;
  left: 53%;
  width: 45vw;
}

#chat-border { 
  background-color: white; 
  width: 100%;
}

#chat-lines {
  position: relative;
  height: 38vh;
  width: 95%;
  margin-top: 9vh;
  left: 5%;
}

#msg {
  position: relative;
  font-size: medium;
  height: 3.5vh;
  line-height:2.5vh;
  width: 92%;
  resize: none;
}

#send {
  position: relative;
  width: 3.4vw;
  font-size: .8vw;
}

#type-msg {
  position: relative;
  display: flex;
}

#remaining {
  position: relative;
  color: #f1e4f7;
  margin: 0px;
  width: 100%;
  text-align: right;
  right: 2vw;
}

/*
 * Display for purchasing new tokens
 */
#tokenPurchaserContainer {
  display: flex;
}

#tokenPurchasePar {
  padding-top: 3px;
}

#tokenPurchaseButton {
  display: none;
}

.tokenPurchaseButton {
  margin: auto;
  margin-right: 10px;
	box-shadow: 0px 0px 0px 2px #aed6b2;
	background: linear-gradient(to bottom, #f2f5ba 5%, #c8f2bf 100%);
	background-color: #f2f5ba;
	border-radius: 10px;
	border: 1px solid #51d689;
	display: inline-block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 66px;
	cursor: pointer;
	color: #4d4f52;
	font-family: "Robot";
	font-size: 14px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #23c433;
}
.tokenPurchaseButton:hover {
	background:linear-gradient(to bottom, #c8f2bf 5%, #f2f5ba 100%);
	background-color:#c8f2bf;
  color: #4d4f52;
}

.tokenPurchaseButton:active {
	position: relative;
  color: #4d4f52;
	top: 2px;
  height: 23px;
}

.tokenNumberChanger {
  color: #ffffff;  
  font-size: 34px;
}

.tokenNumberChanger:link {
  font-size: 34px;
  text-shadow: none;
}

#tokenPlus {
  margin-right: 10px;
}

#tokenMinus {
  margin-right: 4px.5;
}

#tokenPlus:hover {
  text-shadow:
    -1px -1px 0 #35f728,  
     1px -1px 0 #35f728,
    -1px 1px 0 #35f728,
     1px 1px 0 #35f728;
}

#tokenMinus:hover {
  text-shadow:
    -1px -1px 0 #f72424,  
     1px -1px 0 #f72424,
    -1px 1px 0 #f72424,
     1px 1px 0 #f72424;
}

#tokenPlus:active {
  margin-left: 3.5px;
}

#tokenMinus:active {
  margin-left: 2px;
}

.tokenNumberChanger:active {
  font-size: 30px; 
}

/*
 * Doge coin amount display under chat
 */
#tokenContainer {
  padding-top: 2px;
  position: relative;
}

#tokenContainer1 {
  position: absolute;
  display: flex;
  right: 2vw;
  top: -2px;
}

#dogeCoinImg {
  margin: auto;
  height: 40px;
  width: 40px;
}

#dogeCoinX {
  margin: auto;
  margin-right: 4px;
  margin-left: 1px;
  padding-bottom: 4px;
  font-size: 20px;
  color: #ffffff;
}

#dogeNumberBalls {
  margin: auto;
  font-size: 26px;
  color: #ffec0d;
}

/*
 * Doge Queue CSS for Enqueue button, timer, controller
 */
#queue_container {
  position: relative;
}


#doge_queue {
  position: relative;
  width: 100%;
}

#button_container {
  position: absolute;
  display: inline-block;
  top: -5.4vh;
}

#doge_bootun {
  height: 18vh;
  z-index: 1;
}

#doge_control_container {
  position: absolute;
  top: -2.4vh;
}

#doge_control_timer_par {
  margin: 0px;
  margin-top: -15px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
