function TimerNumber (timerStartNumber, timerWrapNumber)
  {
    var obj = this;
    obj.timerWrapNumber = timerWrapNumber >= 100 ? 99 : timerWrapNumber;
    obj.currentTimerNumber = timerStartNumber;

    // Create Number graphic which can be retrieved by clients
    obj.$timerNumberDiv = $("<div class='timerDiv'></div>");
    obj.$timerNumberDivLeft = $("<div class='timerNumberDiv'></div>");
    obj.$timerNumberLeft = $("<img class='timerNumber '>");
    obj.$timerNumberDivLeft.append (obj.$timerNumberLeft);
    obj.$timerNumberDiv.append (obj.$timerNumberDivLeft);
    obj.$timerNumberDivRight = $("<div class='timerNumberDiv'></div>");
    obj.$timerNumberRight = $("<img class='timerNumber '>");
    obj.$timerNumberDivRight.append (obj.$timerNumberRight);
    obj.$timerNumberDiv.append (obj.$timerNumberDivRight);


    // Function for client to retrieve html for timer number
    obj.getHTML = function () {
      return obj.$timerNumberDiv;
    };

    // Function to update html to render the current number
    obj.renderNumber = function () {
      var numberToRender = obj.currentTimerNumber > 99 ? 
                           99 : obj.currentTimerNumber;
      obj.rightDigit = numberToRender % 10;
      obj.leftDigit = (Math.floor (numberToRender / 10)) % 10;
      obj.$timerNumberRight.attr ("src", gon.timerNumberURLs [obj.rightDigit]);
      obj.$timerNumberLeft.attr ("src", gon.timerNumberURLs [obj.leftDigit]);
    };

    // Check if timer fits in two digit box
    obj.isOverBig = function () {
      return obj.currentTimerNumber > 99;
    };

    // Check if timer has run out
    obj.isOut = function () {
      if (obj.currentTimerNumber <= 0) 
        {
          obj.currentTimerNumber = 0;
          return true;
        }
      return false;
    };

    // Decrement the timer by one number. If timer is 0, wrap around
    obj.decrement = function (reRender) {
      obj.currentTimerNumber--;
      if (obj.currentTimerNumber < 0)
        {
          obj.currentTimerNumber = obj.timerWrapNumber;
        }
      if (reRender)
        {
          obj.renderNumber ();
        }
    };

    // Update the empty Number graphic to show the proper images
    obj.renderNumber ();
  };
