<div id="doge_control_container" class="hori-center">
  <%= javascript_include_tag "control-bundle" %>
  <script>
    var doge_controller = new makeDogeControl ("doge_control_container", 45);
  </script>
</div>
