<div id="doge_control_container" class="hori-center">
  <%= javascript_include_tag "control-bundle" %>
  <script>
    var doge_controller = new makeDogeControl ("doge_control_container", 45);
  </script>
  <div id="preload_doge_bootun_form" class="form_preload">
    <%= image_tag "doge_bootun_normal.png", height: "1px", width: "1px" %>
    <%= image_tag "doge_bootun_highlight.png", height: "1px", width: "1px" %>
    <%= image_tag "doge_bootun_pressed.png", height: "1px", width: "1px" %>
  </div>
</div>
