<div id="queue_container">
  <% if (@load_button) %>
    <%= render "doge/queue_button" %>
  <% elsif (@load_timer) %>
    <%= render "doge/queue_timer" %>
  <% elsif (@load_control) %>
    <%= render partial: "doge/control", locals: { queue_time: queue_time, number_balls: number_balls } %>
  <% end %>
</div>
