<div id="dogeFooterContainer">
  <div id="dogeFooterContentContainer">
    <div id="dogeTermsOfService" class="dogeFooterLinkContainer">
      <%= link_to "Terms of Service", terms_path, method: :get, class: "dogeFooterLink" %>
    </div>
    <div id="dogePrivacyPolicy" class="dogeFooterLinkContainer">
      <%= link_to "Privacy Policy", privacy_path, method: :get , class: "dogeFooterLink" %>
    </div>
    <div id="dogeCertification" class="dogeFooterLinkContainer">
      <span id="cdSiteSeal1">
        <script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73e24b240e1b2ec14wv19juc14y7mb7355e4ye742c985b0447332">
        </script>
      </span>
    </div>
  </div>
</div>
