<div id="ls_form_container">
  <div id="backdrop"></div>
  <div id="center_form" class="hori-center">
    <div id="form_pop_up">
      <table id="form_tabs_table">
        <tr id="form_tabs_row">
          <td id="signup_tab" class="pointer">Sign Up<div id="signup_cover" class="cover"></div></td>
          <td class="space-cell" class="ctx">-</td>
          <td id="login_tab" class="pointer">Log In<div id="login_cover" class="cover"></div></td>
        </tr>
      </table>
    </div>
  </div>
</div>
